html {
  font-family: sans-serif;
}

.example textarea {
  font-size: 10pt;
  font-family: monospace;
  display: block;
  outline: none;
  border: 1px solid #333;
  background: #444;
  margin: 10px 0;
  color: white;
}

.example .input button {
  background-color: #493;
  color: white;
  padding: 10px;
}

.example .output {
  min-height: 40px;
  border: 1px solid #aaa;
  padding: 10px;
}
